<%- include('embeded/bootheader') -%>
<%- include('embeded/menubar') -%>

    <div class="jumbotron">
        <h1>Homework 2</h1>
        <h3>Interactive Websites.</h3>
    </div>

<%- include('embeded/bootfooter') -%>
